.card {
  cursor: pointer;
  border: 1px solid #0086b3;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  border: solid;
}
.card:hover {
  border-color: #0d6efd;
  box-shadow: 0 0 10px rgba(67, 142, 255, 0.807);
  cursor: pointer;
}

.btn-experience {
  background-color: #0d6dfc;
  cursor: pointer;
  border-radius: 50%;
}

.icon-experience {
  color: white;
}
/* .card:hover .icon-experience {
  color: #0d6dfc;
} */
/* .card:hover .card-title {
  color: white;
}
.card:hover .card-text {
  color: white;
} */
/* .card:hover .btn-experience {
  background-color: #f7f9fa;
  cursor: pointer;
} */