.card {
    background-color: #f7f9fa;
    cursor: pointer;
    border-radius: 20px;
}
.card:hover {
    background-color: #0d6dfc;
    cursor: pointer;
}
.btn-service {
    background-color: #0d6dfc;
    cursor: pointer;
    border-radius: 50%;
}
.card:hover .btn-service {
    background-color: #f7f9fa;
    cursor: pointer;
}
.icon-service {
    color: white;
}
.card-title {
    color: black;
    font-size: 22px;
}
.card-text {
    color: rgb(168, 168, 168);
    font-size: 16px;
}
.card:hover .icon-service {
    color: #0d6dfc;
}
.card:hover .card-title {
    color: white;
}
.card:hover .card-text {
    color: white;
}